<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Playground</title>
    <link rel="stylesheet" href="main.css">
    <script src="jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1 class="headcode">Code</h1>
    <div class="code">
        <form action="/output" class="code" method="POST">
            <code>
                <textarea name="code_inp" id="code_inp"><%- code %></textarea>
            </code>
            <input type="submit" value="Run ▷" class="button">
        </form>
    </div>
    <h1 class="headcode">Output</h1>
    <ul>
    <div class="output">
        <div class="outholder">
            <% results.forEach(function(result){ %>
                <code class="out"> <li> <%-  result %> </li> </code>
            <% }); %>
        </div>
        
    </div>
    </ul>
</body>
</html>